{{ define "content" }}
            <h1 class="title">{{ .Page.Title }}</h1>
            <p class="subtitle">By {{ .Page.Params.author }}, published {{ .Page.Date.Format "Jan 2, 2006" }}</p>
            <div>
                <article id="content" class="content">
                    {{ .Content }}
                </article>
            </div>
            {{ with .Params.at_post_uri }}
                {{ $.Page.Store.Set "hasBskyComments" true }}
                <div id="bluesky-comments" class="mt-6"></div>
                <script>document.getElementById('bluesky-comments').dataset.postUri = {{ . }};</script>
            {{ end }}
{{ end }}